<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Чат #{{ chat.id }}</title>
    </head>
    <body>
        ID #{{ chat.id }}. Status: {{ chat.status }}. <br>
                    Name: {{ chat.name }}. User_id: {{ chat.user_id }}

        <form id="msg_form">
            <label for="media">&#128206</label>
            <input id="media" accept="image/*,video/*" name="media" style="display: none;" type="file">
            <!--<input id="text" name="text" placeholder="Сообщение" type="text" autocomplete="off">-->
            <textarea id="text" name="text" placeholder="Сообщение"></textarea>
            <input type="hidden" name="chat_id" value="{{ chat.id }}">
            <button type="submit">Отправить</button>
        </form>
        <ul class="msgs">
            {% for msg in msgs %}
                <li>
                    {{ msg.text }} ({{ msg.date.strftime('%H:%M') }})
                </li>
            {% endfor %}
        </ul>
    </body>
    <script>
        const form = document.getElementById('msg_form');
        const text = document.getElementById('text');
        const media = document.getElementById('media');
        const msgsList = document.querySelector('.msgs');

        form.addEventListener('submit', async (e) => {
            e.preventDefault();

            const msg_text = text.value.trim();
            if (!msg_text) return;

            const formData = new FormData(form)

            try {
                const res = await fetch("/add_msg", {
                    method: 'POST',
                    body: formData
                });
                if (res.ok) {
                    const data = await res.json();
                    const li = document.createElement('li');
                    li.textContent = `${data.text} (новое)`;
                    msgsList.appendChild(li);

                    text.value = '';
                    document.getElementById('media').value = '';
                }
            } catch (err) {
                console.error(err);
            }
        });
    </script>
</html>