<!-- project/app/questions/templates/questions/index.html -->

{% extends "layout.html" %}

{% block title %}Журнал вопросов{% endblock %}

{% block head %}
    <link href="{{ url_for('questions.static', filename='questions/css/styles.css') }}" rel="stylesheet" />
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
{% endblock %}

{% block content %}

        <a href="{{ url_for('main.index') }}" class="btn-primary">Главная</a>
        <h1>Журнал вопросов</h1>

        {% for chat in chats %}
        <div id="chat-{{ chat.id }}" class="row">
            <strong>ID: {{ chat.id }}</strong> |
            <span class="title">{{ chat.title }}</span>
        </div>
        {% endfor %}

        <div>
            <button id="btnAddChat">+</button>
        </div>

        <div id="chatModal" class="modal">
            <div class="modal-content">
                <h3>Новый вопрос</h3>
                <form id="addChatForm">
                    <input id="" name="" type="hidden">
                    <div class="form-group">
                        <label>Название:</label>
                        <input id="chatName" name="chatName" type="text">
                    </div>
                    <div class="modal-buttons">
                        <button type="submit">Отправить</button>
                    </div>
                </form>
            </div>
        </div>

    <script>

        function openModal() {
            document.getElementById('chatModal').style.display = 'flex';
        }

        function closeModal() {
            document.getElementById('chatModal').style.display = 'none';
        }

        document.getElementById('chatModal').addEventListener('click', function(e) {
            if (e.target === this) closeModal();
        });

        document.getElementById('btnAddChat').addEventListener('click', function () {
            openModal();
        });

        document.getElementById('addChatForm').addEventListener('submit', function(e) {
            e.preventDefault();
            const formData = new FormData(this);

            fetch('/questions/add_chat', {
                method: 'POST',
                body: formData
            })
            .then(res => res.json())
            .then(data => {
                if (data.status === 'success') {
                    closeModal();
                    showMessage('Сохранено', 'green');
                } else {
                    showMessage('Ошибка: ' + data.msg, 'red');
                }
            })
            .catch(() => showMessage('Ошибка сети', 'red'));
        });


    </script>

{% endblock %}